<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="script/vue.js"></script>
    <script language="JavaScript">
        window.onload=function () {
            var demo01=new Vue({
                "el":"#tab",
                data:{
                    employeeList:[
                        {empid:1,empname:"曾鸿杰",empage:20},
                        {empid:2,empname:"赵银屏",empage:21},
                        {empid:3,empname:"曾玛丽",empage:26},
                        {empid:4,empname:"陈眉",empage:32},
                    ]
                },
                methods:{

                }
            });
            var demo02=new Vue({
                "el":"#div",
                data: {
                    "empid":"",
                    "empname":"",
                    "empage":"",
                },
                methods: {
                    add:function () {
                        alert("曾先生,添加成功!");
                        var employee = {
                            "empid":this.empid,
                            "empname":this.empname,
                            "empage":this.empage,
                        };
                        demo01.employeeList.push(employee);
                    }
                }
            })
        }
    </script>
</head>
<body>
<div id="tab">
<table border="2">
    <tr>
        <th>编号</th>
        <th>姓名 </th>
        <th>年龄 </th>
    </tr>
    <tr v-for="emp in employeeList">
        <td>{{emp.empid}}</td>
        <td>{{emp.empname}}&nbsp;&nbsp;</td>
        <td>{{emp.empage}}</td>
    </tr>
</table>
</div>
<hr>
<hr>
<div id="div">
    编号：<input type="text" v-model="empid"/><br>
    姓名：<input type="text" v-model="empname"/><br>
    年龄：<input type="text" v-model="empage"/><br>
    <p>{{empid}} {{empname}} {{empage}}</p>
    <button type="button" v-on:click="add">添加记录</button>
</div>
</body>
</html>